<form id="open-form" action="index.html" method="post">
  <label class="m_datetime hidden" for="m_datetime">
    date/time
    <input class="fm" type="text" name="m_datetime" value="" placeholder="date">
  </label>

  <label class="m_title hidden" for="m_title">
    Title
    <input class="fm" type="text" name="m_title" value="" placeholder="title">
  </label>

  <label class="m_author" for="m_author">
    GitHub Username
    <input class="fm" type="text" name="m_author" value="" placeholder="GitHub Username">
    <span>Only GitHub usernames will be allowed.</span>
  </label>

  <label class="m_msg" for="m_msg">
    Message
    <textarea class="fm" name="m_msg" placeholder="hi"></textarea>
  </label>

  <pre id="filename">---</pre>
  <pre id="post-matter">---</pre>
  <a class="btn" target="_new" href="#">submit</a>
</form>
